    @font-face {
        font-family: "Segoe_UI_Bold";
        src: url("fonts/Segoe UI Bold.ttf");
    }
    
    @font-face {
        font-family: "Segoe_UI";
        src: url("fonts/Segoe UI.ttf");
    }
    
    @font-face {
        font-family: "ArialCEBold";
        src: url("fonts/ArialCEBold.ttf");
    }
    
    .nav_bar_prop {
        width: 100%;
        height: 48px;
        box-shadow: 0px 3px 6px #00000029;
        opacity: 1;
    }
    
    .nav_items_active {
        font: 20px/27px Segoe_UI_Bold;
        letter-spacing: 0;
        text-transform: uppercase;
        opacity: 1;
    }
    
    .nav_items {
        font: 20px/27px Segoe_UI;
        letter-spacing: 0;
        text-transform: uppercase;
        opacity: 1;
    }
    
    .profile_img {
        opacity: 1;
    }
    
    .profile_name {
        font: Bold 14px/16px Arial;
        letter-spacing: 0;
        color: #666666 !important;
        opacity: 1;
    }
    
    .tq-navbar ul li {
        padding-left: 66px;
    }
    
    .text-nav {
        color: #01428D;
    }
    
    .drop-menu {
        top: 46px;
        left: 66px;
        width: 246px;
        border: 1px solid #DDDDDD;
    }