.tags-input-wrapper {
    box-sizing: border-box;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #B2B2B2;
}

.tags-input-wrapper input {
    border: none;
    background: transparent;
    outline: none;
    width: 150px;
}

.tags-input-wrapper .tag {
    display: inline-block;
    background: #EAEAEA 0% 0%;
    border-radius: 5px;
    opacity: 1;
    text-align: left;
    font: 13px/15px Arial;
    letter-spacing: 0;
    color: #707070;
    margin-left: 13px;
}

.tags-input-wrapper .tag a {
    margin: 0 7px 3px;
    display: inline-block;
    cursor: pointer;
}

.input_tag {
    font: 14px/16px Arial;
    color: #727272;
    opacity: 1;
    padding-top: 14px;
}