.title img {
  float: left;
  margin: 2px 10px;
}

.board-area {
  margin: 0 100px;
  width: 100%;
  background-color: white;
  margin-top: 39px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  padding-bottom: 20px;
  margin-bottom: 2rem;
}

.board-area .form-title::before {
  content: "";
  position: absolute;
  background: #01428d;
  width: 15px;
  height: 33px;
  top: -4px;
  left: -58px;
}

.board-area .form-title {
  position: relative;
}

.board-area .assigned-area {
  background: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  color: #878787;
  margin-bottom: 20px;
}

.assigned-area .checkbox-area {
  padding-left: 35px;
  line-height: 28px;
  float: left;
  margin-bottom: 0;
}
/* Hide the browser's default checkbox */
.assigned-area .checkbox-area input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.assigned-area .checkbox-area .checkmark {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: solid 1px #a8a8a8;
}

/* When the checkbox is checked, add a blue background */
.assigned-area .checkbox-area input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.assigned-area .checkbox-area .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.assigned-area .checkbox-area input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.assigned-area .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.assigned-area .dropdown {
  float: left;
  margin-left: 20px;
  padding: 0 20px;
}
.assigned-area .dropdown a.btn.btn-secondary {
  background-color: transparent !important;
  color: #939393 !important;
  border: solid 1px #e2e2e2 !important;
  border-top: 0 !important;
  border-radius: 0;
  border-bottom: 0 !important;
  padding: 0 20px;
  line-height: 30px;
}
.assigned-area .dropdown a.btn.btn-secondary:focus {
  color: #01428d !important;
  box-shadow: none !important;
}
.assigned-area input[type="search"] {
  border: solid 1px #dfdfdf;
  height: 34px;
  border-radius: 10px;
  width: 30%;
  background: url("../images/search.png") no-repeat 98% center #fff;
  padding: 0 10px;
  font-size: 12px;
}
.assigned-area input[type="search"]:focus {
  outline: none;
}
.board-area .task-area {
  background: #f9f9f9;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: inline-block;
}
.board-area .task-area h2 {
  font-size: 16px;
  color: #888;
  margin-bottom: 20px;
  font-weight: normal;
}
.board-area .task-area .task {
  background: #fff;
  display: block;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.board-area .task-area .task:hover,
.board-area .task-area .task:focus {
  text-decoration: none;
}
.board-area .task-area .task h3 {
  font-size: 14px;
  font-weight: normal;
}
.board-area .task-area .task h3 a {
  color: #878787;
}
.board-area .task-area .task p {
  font-size: 12px;
  margin-top: 15px;
  color: #6e6e6e;
  margin-bottom: 0;
}
.board-area .task-area .task .col-sm-4 img {
  width: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
  float: right;
}
.board-area .task-area .task .col-sm-4 label {
  font-size: 12px;
  color: #878787;
}
