    body {
        background-color: #EAEAEA;
        opacity: 1;
    }
    
    .user {
        font-size: 30px;
    }
    
    .add {
        font: 25px Arial;
        letter-spacing: 0;
        color: #727272;
        opacity: 1;
        position: relative;
        bottom: 0.2rem;
    }
    
    .title {
        margin-top: 40px;
    }
    
    .resource-form {
        background-color: white;
        margin-top: 39px;
        border-radius: 10px;
        box-shadow: 0px 3px 6px #00000029;
    }
    
    .form-title {
        text-align: left;
        font: Bold 20px/23px Arial;
        letter-spacing: 0;
        color: #01428D;
        text-transform: uppercase;
        opacity: 1;
        margin-top: 33px;
        margin-left: 20px;
        margin-bottom: 42px;
        margin-right: 20px;
    }
    
    .form-labels {
        width: 100%;
        padding: 11px 0px 5px 0px;
        margin: 8px 0;
        box-sizing: border-box;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #B2B2B2;
    }
    
    .form-style {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 14px;
    }
    
     ::placeholder {
        font: 14px/16px Arial;
        color: #727272;
        opacity: 1;
    }
    
    .add-button {
        float: right;
        width: 100px;
        height: 36px;
        background: #01428D;
        opacity: 1;
        text-align: center;
        font: 16px/18px Arial;
        letter-spacing: 0;
        color: #FFFFFF;
        margin-top: 34px;
        margin-bottom: 42px;
    }
    
    .height {
        height: 1000px;
    }
    
    .cancel-button {
        float: left;
        width: 100px;
        height: 36px;
        background: #B6B6B6;
        opacity: 1;
        text-align: center;
        font: 16px/18px Arial;
        letter-spacing: 0;
        color: #FFFFFF;
        margin-top: 20px;
        margin-bottom: 22px;
    }
    
    .dropdown-cancelButton {
        width: 100px;
        height: 36px;
        text-align: center;
        font: 16px/18px Arial;
        letter-spacing: 0;
        color: #FFFFFF;
        margin-top: 26px;
        margin-bottom: 22px;
        background: #01428D;
        border-radius: 5px;
    }
    
    .sticky {
        position: fixed;
    }
    
    .task-height {
        height: 700px;
    }