.dropbtn {
    background-color: white;
    font: 14px/16px Arial;
    color: #727272;
    opacity: 1;
    border: none;
    margin-left: -5px;
    margin-right: 43px;
    padding-bottom: 14px;
}

.title-dropdown {
    position: relative;
    display: inline-block;
}

.title-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.title-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.display-block {
    display: block;
}

.dropdown-title-image {
    float: right;
}

.dropdown-title-text {
    float: left;
}

.width-100 {
    width: 100%;
}

.width-40 {
    width: 40%;
}

.time-wrapper {
    display: inline-block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.bg {
    background-color: grey;
}