@media (max-width: 768px) {
    .center-text-ul {
        text-align: center;
    }
    .nav_bar_prop {
        height: auto;
    }
    .margin-left-20 {
        margin-left: 20px;
    }
}

@media (min-width: 576px) {
    .profile-border {
        border-left: 1px solid #DDDDDD;
        height: 48px;
    }
    .logo {
        margin-left: 102px;
    }
    .m-left {
        margin-left: 100px;
    }
    .m-left-50 {
        margin-left: 50px;
    }
}