.add a{text-decoration: underline; color: #727272;float: left;}
.add img{margin:7px 15px 0}
.task-details-area {
    margin: 0 100px;
    width: 100%;
    background-color: white;
    margin-top: 39px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
    padding-bottom: 20px;
    margin-bottom: 2rem;
}

.task-details-area .form-title::before {
    content: '';
    position: absolute;
    background: #01428D;
    width: 15px;
    height: 33px;
    top: -4px;
    left: -58px;
}

.task-details-area .form-title {
    position: relative;
}
.task-details-area h2{color: #8c8c8c;font-size: 16px;font-weight: bold;margin-bottom: 20px;}
.task-details-area .details-area, .task-details-area .description-area, .task-details-area .comment-area{padding: 0 3rem;color: #707070;position: relative;}
.bold{font-weight: bold;}
.task-details-area .details-area label{font-size: 12px;}
.task-details-area .details-area label.grey-bg{background: #eaeaea;padding: 5px 10px;border-radius: 3px;}
.task-details-area .details-area .col-sm-2{position: absolute;bottom: 0;right: 0;}
hr{border-top: solid 1px #ececec;margin: 2rem 3rem;}
.task-details-area .description-area .description-content, .task-details-area .comment-area .comment-content{background: #f9f9f9;border-radius: 5px;padding: 1.5rem;}
.task-details-area .description-area .description-content h3{font-size: 14px;font-weight: bold;}
.task-details-area .description-content ol{font-weight: bold;font-size: 12px;padding: .25rem 1rem;}
.task-details-area .description-content p{font-size: 12px;}
.task-details-area .comment-area .comment-content textarea{background: #fff;border-radius: 5px;border:solid 2px #ebebeb;padding: 1rem;width: 85%;font-size: 12px;min-height: 100px;float:left}
textarea:focus{outline: none;}
.task-details-area .comment-area .comment-content{margin-bottom: 1rem;}
.task-details-area .comment-content button{background: #01428d;color: #fff;border: 0;font-size: 12px;padding: 5px 25px;float: right;}
.task-details-area .comment-area .comment-details{padding: 1rem 1rem 0;display: flex;}
.task-details-area .comment-details img{width: 50px;height: 50px;border-radius: 50%;float: left;margin-right: 10px;}
.task-details-area .comment-details label{font-size: 12px;display: block;margin-bottom: 0;}
.task-details-area .comment-details label.light{color:#c5c5c5}
.task-details-area .comment-details p{font-size: 12px;}
.task-details-area .comment-area hr{margin: 0 1rem;width: 100%;}



